* {
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.main_container {
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 1.25rem;
  margin-top: 2rem;
}

.main_content {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1em;

  width: 590px;
  height: 500px;
}

.main_container .main_content .image_section img {
  height: 100%;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.main_content {
  color: hsl(228, 12%, 48%);
}

.info_section {
  flex-direction: column;
  margin: 25px;
  position: relative;
}

.title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  font-weight: 500;
  margin-bottom: 2em;
  margin-top: 1em;
}

.name {
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
  margin-bottom: 1em;
}

.text {
  font-size: 14px;
  margin-bottom: 1em;
}

.purchase {
  margin-top: 3em;
}

.prices {
  align-items: center;
  margin-bottom: 1em;
}

.price {
  margin-right: .5em;
  font-size: 2em;
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
}

 .old_price {
  text-decoration: line-through;
}

button {
  align-items: center;
  justify-content: center;
  background-color: hsl(158, 36%, 37%);
  color: #FFF;
  width: 100%;
  height: 3em;
  border-radius: .5em;
  text-decoration: none;
  border: none;
  margin-top: 3em;
  cursor: pointer;
  transition: all ease .3s;
}

.main_container .main_content .info_section button img {
  margin-right: 1em;
}

button:hover,
button:active,
button:focus {
  background: hsl(158, 36%, 50%);
}

.mobile_image {
  display: none;
}

/*
@media (max-width: 425px) {
  .main_container {
    width: 100%;
    padding: 35em 25em;
  }
}
*/

@media (max-width: 425px) {
  .desktop_image {
    display: none;
  }

  .main_container {
    height: 100vh;
    padding: 2em;
  }

  .main_content {
    flex-direction: column;
    height: 680px;
  }

  .image_section {
   width: 100%;
  }

  .mobile_image {
    display: initial;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
  }

  .title {
    margin: 1em 0;
  }
  
  .name {
    margin-bottom: 1em;
  }
  
  .text {
    margin-bottom: 2em;
  }
  
  .purchase {
    margin-top: 1em;
  }
  
  button {
    margin-top: 3em;
  }
}